# deny most common except .php
<FilesMatch "\.(inc|tpl|h|ihtml|sql|ini|conf|class|bin|spd|theme|module)$">
deny from all
</FilesMatch>
                           
<IFModule mod_rewrite.c>
RewriteEngine on
#RewriteRule ^/themes/fa/(.+) http://127.0.0.1/$1 [R=301,L] 

#RewriteRule ^(.*)$ themes/fa/index.php?/$1 [L]
#RewriteCond %{QUERY_STRING} lang=fa
#RewriteRule ^index.php  themes/fa/index.php?  [L,NC] 
#RewriteCond %{QUERY_STRING} lang=en
#RewriteRule ^index.php  /dr/themes/en/index.php?  [L,NC] 
</IFModule>
# Enable / Disable directory Listing/Browsing
Options -Indexes
IndexOptions -FancyIndexing
ServerSignature Off